%h2
	Sign up

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
	= f.error_notification

	.form-inputs
		= f.input :usertype_id, as: :hidden, :input_html => { value: 1 }
		= f.input :name, required: true
		= f.input :email, required: true, autofocus: true
		= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
		= f.input :password_confirmation, required: true

	.form-actions
		= f.button :submit, "sign up"

= render "devise/shared/links"