#surrounding_block
    #doctor_block_1
        %h2.message_title
            berichten 
        %center
            -if current_user.notifications.length == 0
                %p
                    Er zijn op dit moment geen berichten beschikbaar
    #doctor_block_2
        %h2.clients_title
            Zoek patienten
        %input.search_bar{placeholder: "search BSN"}
        - #use javascript to generate the search bar
        %h2.clients_title
            Patienten
        #doctor_clients
            - current_user.clients.each do |c|
                - @patient = Patient.find(c.patient_id)
                %p
                    = link_to (@patient.user.name ? @patient.user.name : @patient.email), patient_path(@patient)
