- if @user_is_care
    #patient_doc_block_1.doctor
        %h2
            PatientenDossier: 
            = @patient.user.name ? @patient.user.name : @patient.email

    #patient_doc_block_2
        .wrapper
            #patient_personal_info
                %h2
                    Patient persoonlijke informatie
                %table
                    %tr
                        %td
                            %p
                                %strong
                                    naam:
                        %td
                            %p
                                = @patient.user.name ? @patient.user.name : "onbekend"
                        %td
                            %p
                                %strong
                                    Telefoonnummer:
                        %td
                            %p
                                = @patient.mobile_phone ? @patient.mobile_phone : "onbekend"
                    %tr
                        %td
                            %p
                                %strong
                                    BSN:
                        %td
                            %p
                                = @patient.bsn ? @patient.bsn : "onbekend"
                        %td
                            %p
                                %strong
                                    Email:
                        %td
                            %p
                                = @patient.email ? @patient.email : "onbekend"
                    %tr
                        %td
                            %p
                                %strong
                                    Huistelefoon:
                        %td
                            %p
                                = @patient.home_phone ? @patient.home_phone : "onbekend"
                        %td
                            %p
                                %strong
                                    Adres:
                        %td
                            %p
                                = @patient.address ? @patient.address : "onbekend"

        
            #patient_info
                %h2
                    Patient informatie

                %p.button.problems
                    Ziektebeeld
                %p.button
                    behandelplan 
                %p.button
                    uitslagen
                %p.button
                    Medische geschiedenis
                %p.button
                    medicijngebruik


            #patient_details
                %h2.details_title 
            
                #details_content
                    #details_problems
                        - @patient.problems.each do |p|
                            #problem
                                %h2.problem_name
                                    = p.name
                                %p
                                    = p.problemtype.general_information
                          
                %center
                    #add_button

            #patient_treatment
                %h2
                    Patient vervolgsbehandeling
                %p.button
                    Behandeling inplannen
                %p.button
                    Medijcijnen toeverwijzen
                %p.button
                    Afspraak inplannen
                %p.button
                    Doorverwijzen
                %p.button
                    Afspraken
                  
            #patient_actions
                %h2
                    Patient acties

            :javascript
                $(".button").click(function() {
                    if ($(this).hasClass("problems") && $(this).hasClass("nonvisible")) {
                        $("#details_content > #problem").each(function() {
                            $(this).fadeIn();
                        });
                        $(this).removeClass("nonvisible");
                    }  else if($(this).hasClass("problems") && !$(this).hasClass("nonvisible")) {
                        $("#details_content > #problem").each(function() {
                            $(this).fadeOut();
                        });
                        $(this).addClass("nonvisible");
                    } else if($(this).hasClass("treatment") && $(this).hasClass("nonvisible")) {
                        $("#treatment_details_content > #plan").each(function() {
                            $(this).fadeIn();
                        });
                        $(this).removeClass("nonvisible");
                    } else if($(this).hasClass("treatment") && !$(this).hasClass("nonvisible")) {
                        $("#treatment_details_content > #plan").each(function() {
                            $(this).fadeOut();
                        });
                        $(this).addClass("nonvisible");
                    } else if($(this).hasClass("medication") && $(this).hasClass("nonvisible")) {
                        console.log("clicked");
                      $("#medication_details_content > #plan").each(function() {
                            $(this).fadeIn();
                      });
                      $(this).removeClass("nonvisible");
                    } else if($(this).hasClass("medication") && !$(this).hasClass("nonvisible")) {
                        $("#medication_details_content > #plan").each(function() {
                            $(this).fadeOut();
                        });
                        $(this).addClass("nonvisible");
                    }
                }); 

                $(".button").click(function() {
                    console.log("clicked");
                    console.log("class?", $(this).hasClass("problems"));
                    if($(this).hasClass("problems")) {
                        $("#patient_details").css("min-height", "300px");
                        $(".details_title").text("ziektebeeld");
                        $("#details_problems > #problem").each(function() {
                            $(this).css("display", "block");
                        });
                        $("#add_button").append("<a class='button' href='/problems/new/'>New</a>");
                    }
                });

- elsif @user_is_patient
    #patient_doc_block_1.patient
        %h2
            Welkom 
            = @patient.user.name ? @patient.user.name : @patient.email


    #patient_doc_block_2
        .wrapper
            %h2
                Berichten
            #costs
                %h2
                    Kosten van uw zorgplan
                %p
                    = image_tag("staafdiagram.png")
                %p
                    zorgkosten dit jaar totaal:
                    %strong
                        &euro; 2731,58
                %p
                    = image_tag("behandelingen.png")
                %p 
                    = image_tag("legenda.png")
            #more_info
                %h2
                    ik wil meer inzage in mijn
                %p.button.problems.nonvisible
                    ziektebeeld
                #patient_details.problems
                    #details_content
                        - @patient.problems.each do |p|
                            #problem
                                %h2.problem_name
                                    = p.name
                                %p.general_information
                                    = p.problemtype.general_information
                        

                %p.button.treatment.nonvisible
                    behandelplan
                #patient_treatment_details.treatments
                    #treatment_details_content
                        #plan
                            %h2
                                behandelplan
                            %p
                                =image_tag("behandelplan.png")
                        
                %p.button.results
                    uitslagen
                %p.button.medical_history
                    medische geschiedenis
                %p.button.medication.nonvisible
                    medicijngebruik
                #patient_medication_details.medication
                    #medication_details_content
                        #plan
                            %h2
                                medicijngebruik
                            %p
                                =image_tag("medicijngebruik.png")
                %p.button.appointments
                    afspraken

    :javascript
        $(".button").click(function() {
            if ($(this).hasClass("problems") && $(this).hasClass("nonvisible")) {
                $("#details_content > #problem").each(function() {
                    $(this).fadeIn();
                });
                $(this).removeClass("nonvisible");
            }  else if($(this).hasClass("problems") && !$(this).hasClass("nonvisible")) {
                $("#details_content > #problem").each(function() {
                    $(this).fadeOut();
                });
                $(this).addClass("nonvisible");
            } else if($(this).hasClass("treatment") && $(this).hasClass("nonvisible")) {
                $("#treatment_details_content > #plan").each(function() {
                    $(this).fadeIn();
                });
                $(this).removeClass("nonvisible");
            } else if($(this).hasClass("treatment") && !$(this).hasClass("nonvisible")) {
                $("#treatment_details_content > #plan").each(function() {
                    $(this).fadeOut();
                });
                $(this).addClass("nonvisible");
            } else if($(this).hasClass("medication") && $(this).hasClass("nonvisible")) {
                console.log("clicked");
              $("#medication_details_content > #plan").each(function() {
                    $(this).fadeIn();
              });
              $(this).removeClass("nonvisible");
            } else if($(this).hasClass("medication") && !$(this).hasClass("nonvisible")) {
                $("#medication_details_content > #plan").each(function() {
                    $(this).fadeOut();
                });
                $(this).addClass("nonvisible");
            }
        }); 



