#login_block_1
    
    %center
        #login_overlay
            %h2
                %strong
                    Inloggen
            =simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-inputs
                    = f.input :email, required: false, autofocus: true, :label => false, input_html: {placeholder: "E-mail" }
                    = f.input :password, required: false, :label => false, input_html: {placeholder: "Wachtwoord"}

                .form-actions
                    = f.button :submit, "Log in"

#login_block_2
    %h2.login_title  
        %strong
            Nog geen account? eerst even registreren!
    #left_block
        %p
            = image_tag("arts.png")
        %p{:style => "margin-left: 70px;"}
            Ik registreer als arts

    #right_block
        %p
            = image_tag("patient.png")
        %p{:style => "margin-left: 70px;"}
            Ik registreer als patient
