/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
	font-family: sans-serif, arial, verdana;
	font-weight: 100;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

#surrounding_block {
    background-image: url(#{image_path("door.jpeg")});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: 1rem 0; 
    margin: 0;
	border-bottom: 1px solid #E4E4E4;
    background: white;
	#logo {
        img {
            height: 30px;
        }
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}

#main_block_1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-color: #D1D2D3;
}

#main_block_2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #E4E4E4;
}

#doctor_block_1 {
    width: 100%;
    min-height: 100px;
    background-color: "#E4E4E4";
    h2 {
        &.message_title {
            text-align: center;
         }
    }
}

#doctor_block_2 {
    width: 100%;
    min-height: 300px;

    input {
        background-color: white;
        width: 50%;
        margin-left: 25%;
        border-radius: 5px;
        border: 1px solid #333;
        height: 40px;
        text-align: center;
    }

    h2 {
        &.clients_title {
            text-align: center;
        }
    }

    #doctor_clients {
        margin-top: 30px;
        width: 50%;
        margin-left: 25%;
        border: 1px solid #333;
        min-height: 300px;
        border-radius: 5px;
        background: #FFF;

        p {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}


#patient_doc_block_1 {
    width: 100%;
    height: 200px;
    background-color: #6DC5F9;
    margin-top: -20px;
    border-bottom: 1px solid #333;
    h2 {
        padding-top: 75px;
        text-align: center;
    }

    &.doctor {
          background-image: url(#{image_path("hero-arts.png")});
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
    }

    &.patient {
          background-image: url(#{image_path("hero-patient.png")});
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
    }
}

#patient_doc_block_2 {
    margin: 0;
    width: 95%;
    margin-left: 2.5%;
    min-height: 600px;
    background-color: #F4F4F4;

    h2 {
        padding-top: 20px;
    }

    #patient_details {
        min-height: 0px;
        transition-property: height;
        transition-duration: 0.5s;
        width: 95%;
        background-color: #FFFFFF;
        border-radius: 5px;

        .details_title {
            text-align:center;
        }

        #details_content {
            #problem {
                display: none;
                h2 {
                    margin-left: 5%;
                }
                p {
                    width: 80%;
                    margin-left: 10%;
                }
            }
        }
    }

    #patient_treatment_details {
        min-height: 0px;
        transition-property: height;
        transition-duration: 0.5s;
        width: 95%;
        background-color: #FFFFFF;
        border-radius: 5px;

        .details_title {
            text-align:center;
        }

        #treatment_details_content {
            #plan {
                display: none;
                h2 {
                    margin-left: 5%;
                }
                p {
                    margin-left: 10%;
                }
            }
        }
    }

    #patient_medication_details {
        min-height: 0px;
        transition-property: height;
        transition-duration: 0.5s;
        width: 95%;
        background-color: #FFFFFF;
        border-radius: 5px;

        .details_title {
            text-align:center;
        }

        #medication_details_content {
            #plan {
                display: none;
                h2 {
                    margin-left: 5%;
                }
                p {
                    margin-left: 10%;
                }
            }
        }
    }
    
    #patient_personal_info {
       table {

            p {
                font-size: 17px;
            }

            td {
                width: 25%;
            }
       }
    }

    #costs {
        p {
            font-size: 20px;
        }
    }

     .button {
         text-align: center;
         color: #333;

         background: white;

         transition-property: background;
         transition-duration: 0.2s;
         &:hover {
             transition-property: background; 
             transition-duration: 0.2s;

             background-color: #E4E4E4;
         }
     }
}

#login_block_1 {
    background-image: url(#{image_path("medical.jpg")});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height: 600px;

    #login_overlay {
        position: absolute;
        top: 80px;
        left: 30%;
        height: 400px;
        width: 40%;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        text-align: center;

        h2 {
            color: #FF8F6B;
        }


        input {
            width: 90%;
            margin-top: 30px;
            border-radius: 3px;
            height: 50px;
            text-align: center;
            border: 1px solid #D1D2D3;
        }
    }
}

#login_block_2 {
    min-height: 400px;

    h2 {
        &.login_title {
            text-align: center;
            color: #FF8F6B;
        }
    }
    
    #left_block {
        float:left;
        width: 30%;
        margin-left: 15%;
        margin-top: 30px;
    }

    #right_block {
        float: right;
        width: 30%;
        margin-right: 15%;
        margin-top: 30px;
    }
}

footer {
    width: "100%";
    border-top: 1px solid #E4E4E4;
    height: 150px;
    color: white;
    background-color: #FF8F6B;
    img {
        padding-top: 20px;
    }

}
