!!!
%html
%head
    %title SiiZ | Samen inzicht in Zorg
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    %link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    = csrf_meta_tags
%body
    %header
        .wrapper.clearfix
            #logo= link_to image_tag("logo.png"), root_path
            %nav
                - if user_signed_in?
                    = link_to current_user.name, edit_user_registration_path
                    = link_to('Logout', destroy_user_session_path, :method => :delete)
                    - if current_user.usertype_id == 2
                        = link_to "new patient", new_patient_path, class: "button"
    = yield

    %footer
        %center
            = link_to image_tag("logo-footer.png"), root_path
